*.pyc
*__pycache__
*.DS_Store
*.swp
*.swo
build/pdf-intermediate.md
pyhamilton/LAY-BACKUP
.ipynb_checkpoints
*.egg-info
*.log
build/lib

myenv
env/*
.venv

# uv files
uv.lock

pylabrobot/liquid_handling/backends/hamilton/nimbus/firmware_dlls
.cursor
nimbus-dev/