* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  box-sizing: border-box;
}

nav.navbar {
  height: 60px;
}

.content {
  height: calc(100vh - 60px);
  margin: 0;
}

main {
  padding: 20px !important;
}

#canvas {
  display: block;
}

#kanvas {
  width: 100%;
  height: 100%;
}

#status-indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: gray;
}
#status-label {
  color: gray;
}
#status-indicator.connected {
  background-color: green;
}
#status-indicator.disconnected {
  background-color: red;
}
#status-label.connected {
  color: green;
}
#status-label.disconnected {
  color: red;
}

#settings-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  background-color: white;
  border-radius: 10px;

  animation: cubic-bezier(1, 0, 0, 1);
}

#settings-header {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#settings-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

#settings-close-btn {
  cursor: pointer;
  background-color: #ccc;
  width: 28px;
  height: 25px;
  line-height: 25px;

  font-size: 1.4em;

  padding-bottom: 3px;

  border-radius: 100%;
  border: none;

  display: table-cell;
  text-align: center;
  vertical-align: middle;

  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

#settings-close-btn:hover {
  background-color: #aaa;
}

#settings-content {
  padding: 20px;
  height: 600px;
  overflow-y: scroll;
}

#settings-content .form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-content .form-group input {
  width: 170px;
}

h3.form-row-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

#settings-content .columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  margin-bottom: 40px;
}

#settings-content label {
  font-size: 16px;
}

#settings-content input {
  text-align: right;
}
