name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        version: [3.8, 3.9, "3.10", 3.11, 3.12]

    name: Tests
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Update packages
        run: sudo apt-get update
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.version }}
      - name: Install Dependencies
        run: pip install -e '.[dev]'
      - name: Run Pytest
        run: make test
